@charset "UTF-8";
@font-face {
    font-family: 'Qatar-Copa';
    src: url('font/Qatar2022-Bold.otf') format('truetype');
    src: url('font/Qatar2022-Heavy.otf') format('truetype');
    src: url('font/Qatar2022-Medium.otf') format('truetype');
    src: url('font/Qatar2022Arabic-Bold.otf') format('truetype');
    src: url('font/Qatar2022Arabic-Heavy.otf') format('truetype');
    src: url('font/Qatar2022Arabic-Medium.otf') format('truetype');
}

:root {
    --principal: #8C0A30;
    --secundaria: #3F0116;
    --tom-secundario-forte: #B09677; 
    --tom-secundario-fraco: #E1C396;
    --verde: #63A194;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Qatar-Copa';
}

.areadeespera {
    background: url(img/sobreacopa.jpg);
    height: 500px;
}

.areadeespera > h3 {
    background-color: rgba(255, 255, 255, 0.863);
    height: 100%;
    color: var(--principal);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionar-opcao {
    background-color: #63a19357;
    color: white;
    border-bottom: 5px solid var(--tom-secundario-fraco);
}

.selecionar-opcao > .subtitulo {
    margin: 0px;
    padding: 30px 0px;
    width: 100%;
}

.selecionar-opcao h3 {
    background: linear-gradient(to right, #3F0116, #8C0A30);
    padding: 20px;
}

.opcoes {
    background: linear-gradient(to right, #3F0116, #8C0A30);
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}

.opcoes > p {
    border: 1px solid var(--tom-secundario-fraco);
    min-width: 220px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    letter-spacing: 2px;
}

.opcoes > p:hover {
    background-color: #e1c39650;
}

.estatisticas-grupos {
    background: linear-gradient(to right, #3F0116, #8C0A30);
    color: white;
    padding: 0px;
}

.grupos {
    padding: 0px;
    display: none;
}

.grupo {
    width: 96%;
    margin: 20px;
}

.header-grupo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.especificacoes {
    display: flex;
    padding: 0px 3px;
}

.especificacoes > h4:nth-child(9) {
    width: 105px;
    text-align: center;
    padding: 0px;
}

.especificacoes > h4 {
    width: 34px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0px 10px;
}

.item-grupo {
    display: flex;
    justify-content: space-between;
}

.img-nome {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3em;
}

.especificacoes-selecao {
    display: flex;
    padding: 0px 2px;
    gap: 0px;
}

.especificacoes-selecao > h4 {
    width: 34px;
    text-align: center;
    margin: 0px 10px;
}

.ultimas-5 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 5px;
    margin-left: 10px;
}

.circulo {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: white;
}

/* Últimas Partidas */

/* GRUPO A -------------------------------------------- */

/* CATAR ---------------- */

.circulo-catar:nth-child(1) {
    background-color: red;
}

.circulo-catar:nth-child(2) {
    background-color: red;
}

.circulo-catar:nth-child(3) {
    background-color: red;
}

.circulo-catar:nth-child(4) {
    background-color: x;
}

.circulo-catar:nth-child(5) {
    background-color: x;
}

/* EQUADOR ---------------- */

.circulo-equador:nth-child(1) {
    background-color: red;
}

.circulo-equador:nth-child(2) {
    background-color: gray;
}

.circulo-equador:nth-child(3) {
    background-color: green;
}

.circulo-equador:nth-child(4) {
    background-color: x;
}

.circulo-equador:nth-child(5) {
    background-color: x;
}

/* SENEGAL ---------------- */

.circulo-senegal:nth-child(1) {
    background-color: green;
}

.circulo-senegal:nth-child(2) {
    background-color: green;
}

.circulo-senegal:nth-child(3) {
    background-color: red;
}

.circulo-senegal:nth-child(4) {
    background-color: x;
}

.circulo-senegal:nth-child(5) {
    background-color: x;
}

/* HOLANDA ---------------- */

.circulo-holanda:nth-child(1) {
    background-color: green;
}

.circulo-holanda:nth-child(2) {
    background-color: gray;
}

.circulo-holanda:nth-child(3) {
    background-color: green;
}

.circulo-holanda:nth-child(4) {
    background-color: x;
}

.circulo-holanda:nth-child(5) {
    background-color: x;
}

/* GRUPO B -------------------------------------------- */

/* INGLATERRA ---------------- */

.circulo-inglaterra:nth-child(1) {
    background-color: green;
}

.circulo-inglaterra:nth-child(2) {
    background-color: gray;
}

.circulo-inglaterra:nth-child(3) {
    background-color: green;
}

.circulo-inglaterra:nth-child(4) {
    background-color: x;
}

.circulo-inglaterra:nth-child(5) {
    background-color: x;
}

/* IRÃ ---------------- */

.circulo-ira:nth-child(1) {
    background-color: red;
}

.circulo-ira:nth-child(2) {
    background-color: green;
}

.circulo-ira:nth-child(3) {
    background-color: red;
}

.circulo-ira:nth-child(4) {
    background-color: x;
}

.circulo-ira:nth-child(5) {
    background-color: x;
}

/* ESTADOS UNIDOS ---------------- */

.circulo-eua:nth-child(1) {
    background-color: green;
}

.circulo-eua:nth-child(2) {
    background-color: gray;
}

.circulo-eua:nth-child(3) {
    background-color: gray;
}

.circulo-eua:nth-child(4) {
    background-color: x;
}

.circulo-eua:nth-child(5) {
    background-color: x;
}

/* PAÍS DE GALES ---------------- */

.circulo-paisdegales:nth-child(1) {
    background-color: red;
}

.circulo-paisdegales:nth-child(2) {
    background-color: red;
}

.circulo-paisdegales:nth-child(3) {
    background-color: gray;
}

.circulo-paisdegales:nth-child(4) {
    background-color: x;
}

.circulo-paisdegales:nth-child(5) {
    background-color: x;
}

/* GRUPO C -------------------------------------------- */

/* ARGENTINA ---------------- */

.circulo-argentina:nth-child(1) {
    background-color: green;
}

.circulo-argentina:nth-child(2) {
    background-color: green;
}

.circulo-argentina:nth-child(3) {
    background-color: red;
}

.circulo-argentina:nth-child(4) {
    background-color: x;
}

.circulo-argentina:nth-child(5) {
    background-color: x;
}

/* ARÁBIA SAUDITA ---------------- */

.circulo-arabiasaudita:nth-child(1) {
    background-color: red;
}

.circulo-arabiasaudita:nth-child(2) {
    background-color: red;
}

.circulo-arabiasaudita:nth-child(3) {
    background-color: green;
}

.circulo-arabiasaudita:nth-child(4) {
    background-color: x;
}

.circulo-arabiasaudita:nth-child(5) {
    background-color: x;
}

/* MÉXICO ---------------- */

.circulo-mexico:nth-child(1) {
    background-color: green;
}

.circulo-mexico:nth-child(2) {
    background-color: red;
}

.circulo-mexico:nth-child(3) {
    background-color: gray;
}

.circulo-mexico:nth-child(4) {
    background-color: x;
}

.circulo-mexico:nth-child(5) {
    background-color: x;
}

/* POLÔNIA ---------------- */

.circulo-polonia:nth-child(1) {
    background-color: red;
}

.circulo-polonia:nth-child(2) {
    background-color: green;
}

.circulo-polonia:nth-child(3) {
    background-color: gray;
}

.circulo-polonia:nth-child(4) {
    background-color: x;
}

.circulo-polonia:nth-child(5) {
    background-color: x;
}

/* GRUPO D -------------------------------------------- */

/* FRANÇA ---------------- */

.circulo-franca:nth-child(1) {
    background-color: red;
}

.circulo-franca:nth-child(2) {
    background-color: green;
}

.circulo-franca:nth-child(3) {
    background-color: green;
}

.circulo-franca:nth-child(4) {
    background-color: x;
}

.circulo-franca:nth-child(5) {
    background-color: x;
}

/* DINAMARCA ---------------- */

.circulo-dinamarca:nth-child(1) {
    background-color: red;
}

.circulo-dinamarca:nth-child(2) {
    background-color: red;
}

.circulo-dinamarca:nth-child(3) {
    background-color: gray;
}

.circulo-dinamarca:nth-child(4) {
    background-color: x;
}

.circulo-dinamarca:nth-child(5) {
    background-color: x;
}

/* TUNÍSIA ---------------- */

.circulo-tunisia:nth-child(1) {
    background-color: green;
}

.circulo-tunisia:nth-child(2) {
    background-color: red;
}

.circulo-tunisia:nth-child(3) {
    background-color: gray;
}

.circulo-tunisia:nth-child(4) {
    background-color: x;
}

.circulo-tunisia:nth-child(5) {
    background-color: x;
}

/* AUSTRÁLIA ---------------- */

.circulo-australia:nth-child(1) {
    background-color: green;
}

.circulo-australia:nth-child(2) {
    background-color: green;
}

.circulo-australia:nth-child(3) {
    background-color: red;
}

.circulo-australia:nth-child(4) {
    background-color: x;
}

.circulo-australia:nth-child(5) {
    background-color: x;
}

/* GRUPO E -------------------------------------------- */

/* ESPANHA ---------------- */

.circulo-espanha:nth-child(1) {
    background-color: red;
}

.circulo-espanha:nth-child(2) {
    background-color: gray;
}

.circulo-espanha:nth-child(3) {
    background-color: green;
}

.circulo-espanha:nth-child(4) {
    background-color: x;
}

.circulo-espanha:nth-child(5) {
    background-color: x;
}

/* ALEMANHA ---------------- */

.circulo-alemanha:nth-child(1) {
    background-color: green;
}

.circulo-alemanha:nth-child(2) {
    background-color: gray;
}

.circulo-alemanha:nth-child(3) {
    background-color: red;
}

.circulo-alemanha:nth-child(4) {
    background-color: x;
}

.circulo-alemanha:nth-child(5) {
    background-color: x;
}

/* JAPÃO ---------------- */

.circulo-japao:nth-child(1) {
    background-color: green;
}

.circulo-japao:nth-child(2) {
    background-color: red;
}

.circulo-japao:nth-child(3) {
    background-color: green;
}

.circulo-japao:nth-child(4) {
    background-color: x;
}

.circulo-japao:nth-child(5) {
    background-color: x;
}

/* COSTA RICA ---------------- */

.circulo-costarica:nth-child(1) {
    background-color: red;
}

.circulo-costarica:nth-child(2) {
    background-color: green;
}

.circulo-costarica:nth-child(3) {
    background-color: red;
}

.circulo-costarica:nth-child(4) {
    background-color: x;
}

.circulo-costarica:nth-child(5) {
    background-color: x;
}

/* GRUPO F -------------------------------------------- */

/* BÉLGICA ---------------- */

.circulo-belgica:nth-child(1) {
    background-color: gray;
}

.circulo-belgica:nth-child(2) {
    background-color: red;
}

.circulo-belgica:nth-child(3) {
    background-color: green;
}

.circulo-belgica:nth-child(4) {
    background-color: x;
}

.circulo-belgica:nth-child(5) {
    background-color: x;
}

/* CANADÁ ---------------- */

.circulo-canada:nth-child(1) {
    background-color: red;
}

.circulo-canada:nth-child(2) {
    background-color: red;
}

.circulo-canada:nth-child(3) {
    background-color: red;
}

.circulo-canada:nth-child(4) {
    background-color: x;
}

.circulo-canada:nth-child(5) {
    background-color: x;
}

/* MARROCOS ---------------- */

.circulo-marrocos:nth-child(1) {
    background-color: green;
}

.circulo-marrocos:nth-child(2) {
    background-color: green;
}

.circulo-marrocos:nth-child(3) {
    background-color: gray;
}

.circulo-marrocos:nth-child(4) {
    background-color: x;
}

.circulo-marrocos:nth-child(5) {
    background-color: x;
}

/* CROÁCIA ---------------- */

.circulo-croacia:nth-child(1) {
    background-color: gray;
}

.circulo-croacia:nth-child(2) {
    background-color: green;
}

.circulo-croacia:nth-child(3) {
    background-color: gray;
}

.circulo-croacia:nth-child(4) {
    background-color: x;
}

.circulo-croacia:nth-child(5) {
    background-color: x;
}

/* GRUPO G -------------------------------------------- */

/* BRASIL ---------------- */

.circulo-brasil:nth-child(1) {
    background-color: red;
}

.circulo-brasil:nth-child(2) {
    background-color: green;
}

.circulo-brasil:nth-child(3) {
    background-color: green;
}

.circulo-brasil:nth-child(4) {
    background-color: x;
}

.circulo-brasil:nth-child(5) {
    background-color: x;
}

/* SÉRVIA ---------------- */

.circulo-servia:nth-child(1) {
    background-color: red;
}

.circulo-servia:nth-child(2) {
    background-color: gray;
}

.circulo-servia:nth-child(3) {
    background-color: red;
}

.circulo-servia:nth-child(4) {
    background-color: x;
}

.circulo-servia:nth-child(5) {
    background-color: x;
}

/* SUÍÇA ---------------- */

.circulo-suica:nth-child(1) {
    background-color: green;
}

.circulo-suica:nth-child(2) {
    background-color: red;
}

.circulo-suica:nth-child(3) {
    background-color: green;
}

.circulo-suica:nth-child(4) {
    background-color: x;
}

.circulo-suica:nth-child(5) {
    background-color: x;
}

/* CAMARÕES ---------------- */

.circulo-camaroes:nth-child(1) {
    background-color: green;
}

.circulo-camaroes:nth-child(2) {
    background-color: gray;
}

.circulo-camaroes:nth-child(3) {
    background-color: red;
}

.circulo-camaroes:nth-child(4) {
    background-color: x;
}

.circulo-camaroes:nth-child(5) {
    background-color: x;
}

/* GRUPO H -------------------------------------------- */

/* PORTUGAL ---------------- */

.circulo-portugal:nth-child(1) {
    background-color: red;
}

.circulo-portugal:nth-child(2) {
    background-color: green;
}

.circulo-portugal:nth-child(3) {
    background-color: green;
}

.circulo-portugal:nth-child(4) {
    background-color: x;
}

.circulo-portugal:nth-child(5) {
    background-color: x;
}

/* GANA ---------------- */

.circulo-gana:nth-child(1) {
    background-color: red;
}

.circulo-gana:nth-child(2) {
    background-color: green;
}

.circulo-gana:nth-child(3) {
    background-color: red;
}

.circulo-gana:nth-child(4) {
    background-color: x;
}

.circulo-gana:nth-child(5) {
    background-color: x;
}

/* URUGUAI ---------------- */

.circulo-uruguai:nth-child(1) {
    background-color: green;
}

.circulo-uruguai:nth-child(2) {
    background-color: red;
}

.circulo-uruguai:nth-child(3) {
    background-color: gray;
}

.circulo-uruguai:nth-child(4) {
    background-color: x;
}

.circulo-uruguai:nth-child(5) {
    background-color: x;
}

/* COREIA DO SUL ---------------- */

.circulo-coreiadosul:nth-child(1) {
    background-color: green;
}

.circulo-coreiadosul:nth-child(2) {
    background-color: red;
}

.circulo-coreiadosul:nth-child(3) {
    background-color: gray;
}

.circulo-coreiadosul:nth-child(4) {
    background-color: x;
}

.circulo-coreiadosul:nth-child(5) {
    background-color: x;
}

/* Artilharia ------------------------------------------------------------------------ */

.estatisticas-individuais {
    background: linear-gradient(to right, #3F0116, #8C0A30);
    color: white;
}

.artilharia {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    display: none;
}

.jogador {
    border: 1px solid var(--tom-secundario-fraco);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 20px;
    margin: 10px 5px;
}

.posicao-img-nome {
    display: flex;
    gap: 20px;
    align-items: center;
}

.posicao-img-nome > img {
    width: 80px;
    border-radius: 50%;
    border: 1px solid var(--tom-secundario-fraco);
}

.nome-nacionalidade {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    gap: 5px;
}

.img-pais {
    display: flex;
    gap: 10px;
    font-size: 0.7em;
    font-weight: 3;
}

.img-pais img{
    height: 15px;
    border: 1px solid var(--tom-secundario-fraco);
}

.assistencias {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    display: none;
}

.cartao-amarelo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    display: none;
}

@media (max-width: 830px) {
    .cabecalho img {
        width: 80px;
    }
    .nav-menu{
        display: block;
    }
    .nav-menu.ativo .bar:nth-child(1) {
        transform:  translateY(8px) rotate(45deg);
    }
    .nav-menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .nav-menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu {
        position: absolute;
        left: -120%;
        top: 150px;
        width: 100%;
        height: 290px;
        flex-direction: column;
        background: linear-gradient(to right, #3F0116, #8C0A30);
        transition: 1s;
        border-bottom: 5px solid var(--tom-secundario-forte);
    }

    .menu.ativo {
        left: 0%;
    }

    .menu a {
        margin: 0px;
        padding: 20px;
        color: white;
        width: 100%;
        border-bottom: 1px solid var(--tom-secundario-fraco);
    }

    .menu a:hover {
        background-color: #e1c39650;
    }

    .grupo {
        width: 98%;
        margin: 5px;
    }

    .especificacoes > h4:nth-child(8) {
        padding-right: 3px;
    }

    .especificacoes-selecao > h4:nth-child(8) {
        padding-right: 2px;
    }

    .especificacoes > h4:nth-child(4) {
        display: none;
    }
    .especificacoes > h4:nth-child(5) {
        display: none;
    }
    .especificacoes > h4:nth-child(6) {
        display: none;
    }
    .especificacoes > h4:nth-child(7) {
        display: none;
    }
    .especificacoes > h4:nth-child(9) {
        display: none;
    }

    .especificacoes-selecao > h4:nth-child(4) {
        display: none;
    }
    .especificacoes-selecao > h4:nth-child(5) {
        display: none;
    }
    .especificacoes-selecao > h4:nth-child(6) {
        display: none;
    }
    .especificacoes-selecao > h4:nth-child(7) {
        display: none;
    }

    .ultimas-5 {
        display: none;
    }

    .areadeespera {
        height: 300px;
        background-position: center;
    } 

    .areadeespera h3 {
        font-size: 1em;
    }
}